*{
    margin:0;
    padding:0px;;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

img{
    display:block;
    max-width:100%;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}